
body {
    font-family: monospace;
    background-color: #111111;
    color: #444444;
    overflow-y: hidden;
    overflow-x: hidden;
}

#app {
    opacity: 0.5;
    /* filter: grayscale(1); */
    animation: hue-spin 10s linear infinite;
}

@keyframes hue-spin {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}